.ui {
  &.segment {
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
  }

  &.image {
    height: auto;

    &.mini {
      width: 45px !important;
    }
  }

  &.dropdown &.floating.dropdown {
    .menu {
      background-color: red !important;
      left: 0;
      right: 0;
      margin-top: 10px;
      z-index: 12 !important;
    }
  }

  &.menu {
    left: 0;
    right: 0;
    margin-top: 10px;

    .item {
      &::before {
        content: none;
      }
    }
  }

  &.button {
    margin: 5px;
  }
}
